.custom-input {
  position: relative;
  $root: &;

  &__field {
    border: 1px solid transparent;
    background-color: rgba($color-jaguar, .05);
    border-radius: 200px;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px 20px;
    width: 100%;
    transition: outline $transition-300;
    outline: none;

    &:hover,
    &:focus-visible {
      outline: 1px solid $color-jaguar;
    }

    &::placeholder {
      color: rgba($color-jaguar, 0.3);
    }
  }

  &--error {
    #{$root}__field {
      background-color: $color-white-red;
      border-color: $color-orange-red;
    }
  }
}