.btn {
  background-color: $color-ottoman;
  border: 1px solid transparent;
  color: $color-jaguar;
  padding: 15px;
  border-radius: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  line-height: 21.6px;
  font-family: $ff-secondary;
  opacity: 1;
  transition: opacity $transition-300;

  @include vp-1023 {
    padding: 10px;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.7;
  }
}