.custom-checkbox {
  $root: &;

  &__field:checked+#{$root}__label::after {
    display: block;
  }

  &__label {
    position: relative;
    padding: 0 0 0 19px;
    font-size: 12px;
    line-height: 1.5;
    color: rgba($color-jaguar, 0.3);
    transition: color $transition-300;

    &:hover,
    &:focus-visible {
      color: $color-jaguar;
    }

    &::before {
      content: "";
      height: 12px;
      width: 12px;
      border: 1px solid $color-jaguar;
      display: flex;
      position: absolute;
      pointer-events: none;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      content: "";
      height: 8px;
      width: 8px;
      background-color: $color-jaguar;
      position: absolute;
      pointer-events: none;
      top: 50%;
      transform: translateY(-50%);
      left: 2px;
      display: none;
    }
  }

  &--error {
    #{$root}__label::before {
      background-color: $color-white-red;
      border-color: $color-orange-red;
    }

    #{$root}__label {
      color: $color-orange-red;
    }
  }
}